*{
    margin: 0px;
    padding: 0px;
}
body{
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap');
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}