:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
}
header{
    display: flex;
    width: 100%;
    background-color: var(--purple-bg);
    color: var(--white);
    align-items: center;
}
.allHeader{
    display: flex;
    margin: auto;
    width: 90%;
    align-items: center;
}

header h1, header .searchBar{
    width: 25%;
    margin: 50px;
}
header nav{
    width: 50%;
    text-align: center;
}
header input{
    border: none;
    outline: none;
    width: 70%;
    background-color: var(--dark-bg);
    color: var(--white);
    padding: 15px;
}
.searchBar img{
    width: 15%;
}
.searchBar{
    display: flex;
    background-color: var(--button-bg);
}
nav li{
    display:inline;
    margin-right: 30px;
}
nav a{
    text-decoration: none;
    list-style: none;
    color: var(--white);
}
.topBox{
    width: 100%;
    background-color: var(--purple-bg);
    color: var(--light-purple);
    border-bottom: var(--green) solid 5px ;
}
.contentTopBox{
    width: 40%;
    margin: 15px;
    margin-right: 235px;
}
.imgTopbox{
    width: 40%; 
    margin-bottom: 40px;
}
.imgTopbox img{
    width: 550px;
}
.allTopbox{
    width: 85%;
    margin: auto;
    display: flex;
}
.allTopbox h1{
    color: var(--button-bg);
    margin-bottom: 20px;
}
.allTopbox a{
    text-decoration: none;
    color: var(--button-bg);
}
p{
    margin-top: 20px;
    margin-bottom: 20px;
}
h2{
    color: var(--purple-bg);
}
main{
    margin: auto;
    width: 85%;
    margin-top: 60px;
}
.second{
    display: flex;
    margin: auto;
    margin-bottom: 40px;
    width: 96%;
}
.imgSecond{
    width: 50%;
    margin-bottom: 20px;
}
.imgSecond img, .imgSecond p{
    width: 90%;
}
.second article{
    width: 50%;
    margin-bottom: 20px;
}
.second article h2 , .second article p{
    width: 70%;
}
.third{
    display: flex;
    width: 100%;

}
.third p{
    text-align: justify;
}
.third section {
    width: 30%;
    margin: auto;
}
.third img{
    width: 100%;
}
article{
    margin-left: 50px;
}
.topLink img{
    width: 20px;
    margin-left: 5px;
}
.topLink{
    display: flex;
}


