:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
}

.allHeader{
    display: flex;
    margin: auto;
    width: 88%;
    align-items: center;
}
header h1, header .searchBar{
    width: 25%;
    margin: 50px;
}
header nav{
    width: 50%;
    text-align: center;
}
header input{
    border: none;
    outline: none;
    width: 70%;
    margin-right: 8px;
    background-color: var(--dark-bg);
    color: var(--white);
    padding: 15px;
}
.searchBar img{
    width: 20px;
    height: 30px;
}
.searchBar{
    display: flex;
    align-items: center;
    background-color: var(--button-bg);
}
nav li{
    display:inline;
    margin-right: 30px;
}
nav a{
    text-decoration: none;
    list-style: none;
    color: var(--white);
}
.topLink img{
    width: 20px;
    margin-left: 5px;
}
.topLink{
    display: flex;
}
.topLink a:hover{
    color: var(--green);
}
.contentTopBox{
    width: 40%;
    margin-right: 60px;
}
.contentTopBox p, .second p, .third p{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
}
.imgTopbox{
    width: 45%; 
}
.imgTopbox img{
    width: 600px;
}
.allTopbox h1{
    color: var(--button-bg);
    margin-bottom: 20px;
    font-size: 2rem;
}
.allTopbox a{
    text-decoration: none;
    color: var(--button-bg);
}
#data{
    margin-top: 5px;
    margin-bottom: 20px;
}
.second h2, .third h2{
    color: var(--purple-bg);
}
.imgSecond, .second article{
    width: 50%;
}
article{
    margin-left: 100px;
}
.imgSecond img, .imgSecond p{
    width: 90%;
}
.second article h2 , .second article p{
    width: 70%;
}

.third section {
    width: 30%;
    margin: auto;
}
.third img{
    width: 100%;
}



