:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}
.principalBox{
    width: 400px;
    margin: auto;
    padding: 15px;
    margin-top: 50px;
    border: solid 1px #f7f7f7;
    box-shadow: 0px 3px 3px 0px rgb(223, 223, 223);
    border-radius: 10px;
}
.contentBox{
    width: 150px;
    margin: auto;
}
.imgPerfil img{
    border-radius: 70px;
}
.content{
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.content li, .content a{
    color: var(--purple);
    list-style: none;
    text-decoration: none;
    font-weight: 600;
    padding: 15px;
}
.content li{
    text-align: center;
    color: var(--purple);
    border: solid 2px var(--purple);
    border-radius: 8px;
    margin-bottom: 20px;
}
.content li:hover{
    background-color: #e5cefd;
}
.content a:hover{
    color: #fff;
}
p{
    text-align: center;
    color: grey;
}
.redesSociais img{
    width: 20px;
}
.contentIcon{
    margin: auto;
    width: 180px;
}
.contentIcon img{
    margin-left: 20px;
}
